/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--text: black;
	--background: #f0f4ff;
	--primary: #4f52ba;
	--primary-transparent: #4f52ba22;
	--secondary: #353577;
	--tertiary: #1f2049;
	--quartinary: #161a2d;
	--quartinary-transparent: #161a2d22;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	min-height: 100vh;
	background: var(--background);
	color: var(--text);
}

ol,
ul {
	padding-left: 0px;
}

.size-13 {
	font-size: 13pt;
}

.size-30 {
	font-size: 30pt;
}

.weight-600 {
	font-weight: 600;
}

.bold {
	font-weight: bold;
}

main {
	margin-left: 260px;
	padding: 1rem;
}

.landing-header {
	margin-top: 13%;
	text-align: center;
}

.landing-header div {
	font-size: 14pt;
}

.landing-body {
	margin-top: 2rem;
	text-align: center;
}

.landing-body div {
	padding-top: 1rem;
}

.hover-default:hover {
	cursor: default;
}

.hover-pointer:hover {
	cursor: pointer;
}

h2 a {
	color: white;
	text-decoration: none;
}

.form-control:focus {
	box-shadow: none;
	border: 1px solid white;
}

.btn {
	color: #ddd;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 260px;
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
	background: var(--quartinary);
	padding: 25px 20px;
	transition: all 0.4s ease;
	border-radius: 0 1rem 1rem 0;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0);
}

.sidebar .sidebar-header {
	display: flex;
	align-items: center;
}

.sidebar .sidebar-header img {
	width: 42px;
	border-radius: 50%;
}

.sidebar .sidebar-header h1 {
	color: #fff;
	font-weight: 600;
	white-space: nowrap;
}

.sidebar-links h4 {
	color: #fff;
	font-weight: 500;
	white-space: nowrap;
	margin: 10px 0;
	position: relative;
}

.sidebar-links h4 span {
	opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
	opacity: 1;
}

.sidebar-links .menu-separator {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
	transform: scaleX(1);
	transform: translateY(-50%);
	background: var(--primary);
	transform-origin: right;
	transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
	transition-delay: 0s;
	transform: scaleX(0);
}

.sidebar-links {
	list-style: none;
	margin-top: 20px;
	padding-right: 5px;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: 5px;
}

.sidebar-links li a {
	display: flex;
	align-items: center;
	gap: 0 20px;
	color: #fff;
	font-weight: 500;
	white-space: nowrap;
	padding: 15px 10px;
	text-decoration: none;
	transition: 0.2s ease;
}

.sidebar-links li a:hover {
	color: var(--quartinary);
	background: #fff;
	border-radius: 4px;
}

.user-account {
	margin-top: auto;
	padding: 12px 10px;
	margin-left: -10px;
}

.user-profile {
	display: flex;
	align-items: center;
	color: var(--quartinary);
}

.user-profile img {
	width: 42px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.user-detail {
	width: 100%;
	white-space: nowrap;
	font-size: 0.8rem;
	text-align: center;
}

.sidebar .user-account {
	background: #fff;
	border-radius: 4px;
}

.color-selectors {
	margin-top: 3rem;
	text-align: center;
	font-size: 10pt;
}

.red-button,
.orange-button,
.green-button,
.blue-button,
.purple-button {
	border-radius: 100%;
}

.red-button {
	border: 2px solid #961111;
	background-color: #d81515;
}

.orange-button {
	border: 2px solid #aa5b00;
	background-color: #e77e05;
}

.green-button {
	border: 2px solid #2b8315;
	background-color: #45d122;
}

.blue-button {
	border: 2px solid #353577;
	background-color: #4f52ba;
}

.purple-button {
	border: 2px solid #4e1172;
	background-color: #9122d1;
}

.switch {
	position: relative;
	display: inline-block;
	width: calc(3rem + 2px);
	height: 1.5rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: calc(1.5rem - 8px);
	width: calc(1.5rem - 8px);
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #222;
}

input:focus+.slider {
	box-shadow: 0 0 1px #222;
}

input:checked+.slider:before {
	-webkit-transform: translateX(calc(1.5rem));
	-ms-transform: translateX(calc(1.5rem));
	transform: translateX(calc(1.5rem));
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.create-button {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1rem;
	padding: 1rem;
	background-color: var(--secondary);
	color: white;
	border-radius: 1rem;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 5px 0px black;
}

.create-button:hover {
	background-color: var(--primary);
}

.create-button:active {
	background-color: var(--secondary);
}

.create-button-padding {
	padding-bottom: 1rem;
}

.edit-button {
	text-align: center;
	font-size: 13pt;
	font-weight: normal;
	padding: 0.75rem;
	background-color: var(--secondary);
	color: white;
	border-radius: 1rem;
	box-shadow: 0px 0px 5px 0px black;
}

.edit-button:hover {
	background-color: var(--primary);
}

.edit-button:active {
	background-color: var(--secondary);
}

.form {
	border: 1px solid #ccc;
	height: 100%;
	padding: 1rem;
	border-radius: 0.75rem;
}

input {
	padding: 0.25rem;
	width: 100%;
	color: var(--text);
	background-color: var(--background);
	outline: none;
	border: 1px solid rgb(118, 118, 118);
}

input:focus-visible {
	outline: var(--primary) auto 1px;
	border-color: var(--background);
}

textarea {
	padding: 0.25rem;
	width: 100%;
	resize: none;
	height: 5rem;
	color: var(--text);
	background-color: var(--background);
}

textarea:focus-visible {
	outline: var(--primary) auto 1px;
	border-color: var(--background);
}

.height-10 {
	height: 10rem;
}

.form-check-input {
	border: 1px solid rgb(118, 118, 118);
}

.form-check-input:checked {
	background-color: var(--primary);
	border-color: var(--primary);
}

.form-check-input:focus {
	box-shadow: none;
	border: 2px solid var(--primary);
}

.button {
	width: 100%;
	background-color: var(--secondary);
	padding: 0.5rem;
	color: white;
	text-align: center;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 5px 0px black;
}

.button:hover {
	background-color: var(--primary);
	cursor: pointer;
}

.button:active {
	background-color: var(--secondary);
}

.card {
	margin-top: 1rem;
	background-color: var(--quartinary-transparent);
}

.card-header {
	font-size: 14pt;
	background-color: var(--primary-transparent);
	color: var(--text);
}

.card-header:hover {
	color: var(--primary);
}

.card-header:active {
	color: var(--secondary);
}

.card-text {
	padding: 0.75rem;
	color: var(--text);
}

.modal-body {
	padding: 2rem 0 0 2rem;
	font-size: 14pt;
}

.modal-footer {
	border-top: none;
}


/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--tertiary);
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 5px;
}